.outterDiv {
    position: relative;
    display: block;
    max-width: 100%;
}

.innerDiv {
    padding-top: 56.25%;
}

.videoElement {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: none;
}