.carousel ul li {
  padding: 0 2.5rem;
}

.carousel button {
  background-color: var(--theme-colors-primaryBlue);
  z-index: 50;
}

.carousel button:hover {
  background-color: var(--theme-colors-altLightBlue);
}
